# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDE
*.iml
*.ipr
*.iws
.idea/
#.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/build/            # <— ignore ALL build dirs at any depth

# Android
android/.gradle/
android/local.properties
android/build/
android/app/build/    # <— this is the important one
# (optional) keystores
*.jks
*.keystore

# iOS / macOS
ios/Pods/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Old Android Studio artifact dirs (fine to keep)
android/app/debug
android/app/profile
android/app/release
